<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCBIpgPYc-zS6dL3ks9Hs4yBUnCHLRMOWk</string>
	<key>GCM_SENDER_ID</key>
	<string>1045597017451</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.helpark.com.tr.HelparkIOS</string>
	<key>PROJECT_ID</key>
	<string>helpark-capstone-project</string>
	<key>STORAGE_BUCKET</key>
	<string>helpark-capstone-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1045597017451:ios:e8572ecaea2dfef9a9282e</string>
	<key>DATABASE_URL</key>
	<string>https://helpark-capstone-project-default-rtdb.firebaseio.com</string>
</dict>
</plist>